* {
  box-sizing: border-box;
}

hr {
    width: 80%;
    margin-right: 100px;
    height: 5px;
    background-color: #7b93a3;

}

header {
    column-count: 2;
}

p {
    margin-top: 0px;
}


.bottom {
  margin-left: 13%;
  max-width: 80%;
  display: flex;
  justify-content: space-around;
}


.monopoly {
    width: 310px;
    height: 200px;
    background: url("../images/monopoly.png");
}

.monopoly:hover {
    width: 310px;
    height: 200px;
    background: url("../images/mono2.png");
}


.casino {
    width: 310px;
    height: 200px;
    background: url("../images/casino.png");
}


.casino:hover {
    width: 310px;
    height: 200px;
    background: url("../images/example.png");
}



.pixel {
    width: 310px;
    height: 200px;
    background: url("../images/pixel_maker.png");
}

/* no hover for now */
.pixel:hover {
    width: 310px;
    height: 200px;
    background: url("../images/pixel_example2.png");
}


.classifier {
    width: 310px;
    height: 200px;
    background: url("../images/classifier.png");
}


.classifier:hover {
    width: 310px;
    height: 200px;
    background: url("../images/classifier2.png");
}


.memory {
    width: 310px;
    height: 200px;
    background: url("../images/cards.png");
}


.memory:hover {
    width: 310px;
    height: 200px;
    background: url("../images/cards2.png");
}

.arcade {
    width: 310px;
    height: 200px;
    background: url("../images/arcade1.png");
}


.arcade:hover {
    width: 310px;
    height: 200px;
    background: url("../images/arcade2.png");
}

.center {
  text-align: center;
  margin-right: 10px;
}


#big {
    font-size: 40px;
    text-align: right;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 0px;
    margin-right: 100px;
    font-family: "Nunito", Times, serif;
}

.right {
    text-align: right;
    margin-right: 100px;
}

.twenty_f {
    font-size: 30px;
    margin-bottom: 0px;
}

.left_margin {
    margin-left: 100px;
}

.hard_align {
    align: left;
    margin-left: 16%;
}

.pad {
    padding: 0 15px;
}


.normal_font {
    font-size: 100%;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.faded {
    font-size: 130%;
}




